live/terragrunt.hcl
.terragrunt-cache

terraform.tf

.terraform
.terraform.lock.hcl
*.tfvars*
*.tfstate*
*.tfbackend*

*.diff
*.bak
*.kubeconfig*

config.yml
config.yaml

!.tfsec/config.yml

# Keep examples
!**/config.yml.example
!**/terragrunt.hcl.example

.envrc

*.pem
.DS_Store
